homework/hw0/results
homework/hw1/results
homework/hw2/results
homework/hw3/results
homework/hw4/results
hw0/results
hw1/results
hw2/results
hw3/results
hw4/results
homework/hw0/__pycache__
homework/hw1/__pycache__
homework/hw2/__pycache__
homework/hw3/__pycache__
homework/hw4/__pycache__
hw0/__pycache__
hw1/__pycache__
hw2/__pycache__
hw3/__pycache__
hw4/__pycache__
homework/hw4/test_ds
homework/hw3/test_ds
homework/hw4/core50_df.pkl
homework/hw3/core50_df.pkl
hw3/test_ds
hw4/test_ds
hw4/core50_df.pkl
hw3/core50_df.pkl
*.pkl
*.pyc 